/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require roboto-fontface/roboto-fontface.scss
 *= require_self
 */
body {
  font-family: 'Roboto', 'sans-serif';
    background: #fff;
}

core-header-panel {
  background: white;
  /* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}

core-toolbar {
  background: #01579b;
  color: #fff;
}

#search::shadow input {
  color: #fff;
}

#mainPanel {
  background: #fff;
}

paper-input #underline {
  background: #c0c0c0;
  border-bottom-color: #c0c0c0;
}

paper-input::shadow #underline {
  background: #c0c0c0;
  border-bottom-color: #c0c0c0;
}


#labelSpan {
  color: #DDD;
}

#search #inputContainer input {
  color: #fff;
  font-size: 19px
}

a#logo {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

paper-tabs {
  max-width: 275px;
  height: 100%;
}

.content-home {
  text-align: center;
  margin-top: 50px;
}


@media (min-width: 1200px) {
  paper-tabs {
    max-width: 400px;
  }
  .content-home {
    margin: 50px;
    padding: 50px;
    padding-top: 0px;
  }
}

paper-tabs #tabsContainer #selectionBar {
  background-color: #03a9f4;
}

paper-tabs paper-tab #tabContainer #ink {
  color: #03a9f4;
}

paper-tabs::shadow #selectionBar {
  background-color: #03a9f4;
}

paper-tabs paper-tab::shadow #ink{
  color: #03a9f4;
}

paper-item {
  color: #03a9f4;
}

@media (min-width: 321px) {
  core-drawer-panel::shadow #main {
    left: 0px !important;
  }

  #main {
    left: 0px !important;
  }
}

@media only screen and (max-width : 320px) {
  img {
    height: 125px;
  }
}

paper-tabs {
  margin: 0px !important;
}

#topBar {
  padding: 0px !important;
}

#logo {
  text-align: center;
}

.none {
  display: none;
}

#quotes-list {
  margin-top: 50px;
}

.quote {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background: #EEE;
  padding: 40px;
  position: relative;
}

.title {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.quote h3 {
  margin-top: 0px;
}

paper-button.tag {
  color: #03a9f4;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  white-space: pre;
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.small {
  font-size: 13px;
}

#tags-list{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

paper-button.colored-tag {
  background-color: #03a9f4;
  color: #fff;
  margin: 5px;
  font-size: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
