/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require roboto-fontface/roboto-fontface.scss
 *= require_self
 */
body {
  font-family: 'Roboto', 'sans-serif';
    background: #fff;
}

core-header-panel {
  background: white;
  /* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}

core-toolbar {
  background: #01579b;
  color: #fff;
}

#mainPanel {
  padding: 0 20px;
  background: #fff;
}

.focusedColor {
  color: #03a9f4 !important;
  background: #03a9f4 !important;
}

paper-input #underline {
  background: #c0c0c0;
  border-bottom-color: #c0c0c0;
}

#labelSpan {
  color: #DDD;
}

#inputContainer input {
  color: #fff;
  font-size: 19px
}

a#logo {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

paper-tabs {
  width: 160px;
}

paper-tabs.indent {
  margin-left: 100px;
}

.card {
  margin: 20px;
  height: 225px;
  padding: 30px;
}


@media (min-width: 1200px) {
  paper-tabs {
    width: 250px;
  }
  .card {
    margin: 50px;
    padding: 50px;
    padding-top: 0px;
    text-align: center;
  }
}

paper-tabs #tabsContainer #selectionBar {
  background-color: #03a9f4;
}

paper-tabs paper-tab #tabContainer #ink {
  color: #03a9f4;
}

.card {
}
